{% extends "layout.html" %}

{% block heading %}
  Register Form
{% endblock %}
{% block body %}


<div class="container">

    <div class="form row justify-content-center">
      <form action="{{ url_for('register') }}" method="post" class="needs-validation">
        <input type="text" name="name" placeholder="Enter Your Name" required>
        <input type="password" name="password" placeholder="Enter Your password" required>
        <button type="submit" name="Register">Register</button>
      </form>
</div>
</div>

{%endblock%}
